.container {
    background-color: rgba(33, 33, 33, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 9999;
}

.stepContainer {
    background: yellow;
}

.popperContainer {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    transform: translate(110%, -20%);
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 400px;
}

.poperTopRight {
    top: 100%;
    left: 0;
    right: auto;
    bottom: auto;
    transform: translate(-20%, 20%);
}
.popperImg {
    width: 50px;
    background: red;
    margin-right: 20px;
}

.popperContent {
    flex: 1;
}

.arrow {
    width:0;
    height:0;
    border-width:10px 10px 10px 0;
    border-style:solid;
    border-color:transparent #fff transparent transparent;/*透明 灰 透明 透明 */
    position: absolute;
    top: 20%;
    left: -10px;
}

.arrowTopRight {
    width:0;
    height:0;
    border-width:0 10px 10px 10px;
    border-style:solid;
    border-color:transparent transparent #fff;/*透明 透明  灰*/
    position: absolute;
    top: -10px;
    left: 20%;
}

.popperClose {
    font-size: 20px;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
}
.popperSteps {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    span {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: red;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: all .5s;
    }
}

.active {
    width: 16px !important
}
.popperStepContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}